<body>
  <mat-card>
    <b><span>Painel</span></b>
  </mat-card>
  <br>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Categoria total:</h2>
          <h1 class="title">{{data?.category}}</h1>
          <p><button class="button" [routerLink]="['/cafe/category']">Ver categoria</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Produto total:</h2>
          <h1 class="title">{{data?.product}}</h1>
          <p><button class="button" [routerLink]="['/cafe/product']">Ver produto</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Fatura total:</h2>
          <h1 class="title">{{data?.bill}}</h1>
          <p><button class="button" [routerLink]="['/cafe/bill']">Ver conta</button></p>
        </div>
      </div>
    </div>
  </div>
</body>