<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="/" class="logo">
      <mat-icon>storefront</mat-icon> Sistema de gerenciamento de café
    </a>
    <ul>
      <li>
        <a (click)="handleLoginAction()">Login</a>
        <a (click)="handleSingnupAction()">Inscrever-se</a>
        <a (click)="handleForgotPasswordAction()">Esqueceu sua senha?</a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>Desenvolvido por Guilherme Froes</h2>
</div>
